.App {
  text-align: center;
}

.movies-container {
  display: grid;
  grid-template-columns:  auto auto auto auto;
  justify-content: center;
  grid-column-gap: 40px;
}

@media screen and (max-width:1705px){
  .movies-container {
    grid-template-columns: auto auto auto
  }
}

@media screen and (max-width:1205px){
  .movies-container {
    grid-template-columns: auto auto;
    grid-row-gap:20px;
  }
}

@media screen and (max-width:600px){
  .movies-container {
    grid-template-columns: auto;
    grid-row-gap: 170px;
  }
}